nav {
    background-color: rgb(43, 15, 75);
    overflow: hidden;
}

img {
    padding: 15px;
    height: 300px;
    width: 750px;
    padding-left: 0px;
    display: block;
    position: relative;
    top:150px;
    left:500px;
    transform:translate(-50%, -50%)
}





body {
    color: #e7c8f5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

a {
    text-decoration: none;
    color: #e7c8f5;

}

a:hover {
    text-decoration: underline;
}
