nav {
    background-color: rgb(43, 15, 75);
    overflow: hidden;
    border-radius: 25px;
}

li {
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

a {
    text-decoration: none;
    color: #e7c8f5;
}

a:hover {
    text-decoration: underline;
}

img {
    padding: 15px;
    height: 300px;
    width: 750px;
    padding-left: 0px;
}

body {
    color: #e7c8f5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: var(--typo-size-1);
    padding-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-size: 25px;

}

h3 {
    font-size: 20px;
}

